.has-global-padding > .alignfull:where(:not(.has-global-padding)) > :where([class*="wp-block-"]:not(.alignfull):not([class*="__"]), p, h1, h2, h3, h4, h5, h6, ul, ol) {
  padding-left: 0!important;
  padding-right: 0!important;
  }
  
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .fade-out {
    animation: fadeOut 3s;
    -webkit-animation: fadeOut 3s;
    -moz-animation: fadeOut 3s;
    -o-animation: fadeOut 3s;
    -ms-animation: fadeOut 3s;
  }
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  
  
  
  .fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { 
     opacity: .75;
     transform: scale(.75);
   }
    100% { 
  opacity: 1;
  transform: scale(1);
  display: block;
   }
  }
  
  @-moz-keyframes fadeIn {
    0% { 
     opacity: .75;
     transform: scale(.75);
   }
    100% { 
  opacity: 1;
  transform: scale(1);
   }
  }
  
  @-webkit-keyframes fadeIn {
    0% { 
     opacity: .75;
     transform: scale(.75);
   }
    100% { 
  opacity: 1;
  transform: scale(1);
   }
  }
  
  @-o-keyframes fadeIn {
    0% { 
     opacity: .75;
     transform: scale(.75);
   }
    100% { 
  opacity: 1;
  transform: scale(1);
   }
  }
  
  @-ms-keyframes fadeIn {
    0% { 
     opacity: .75;
     transform: scale(.75);
   }
    100% { 
  opacity: 1;
  transform: scale(1);
   }
  }
  
  
  
  .fade-in-image {
    animation: fadeInImage 5s;
    animation: fadeInImage 5s;
    -webkit-animation: fadeInImage 5s;
    -moz-animation: fadeInImage 5s;
    -o-animation: fadeInImage 5s;
    -ms-animation: fadeInImage 5s;
  }
  
  @keyframes fadeInImage {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @keyframes fadeInImage {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeInImage {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeInImage {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeInImage {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeInImage {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @media only screen and (max-width: 760px) {
  .block-main-container {
     width: 90vw!important;
     height: 70vh!important;
   }
  .underlay {
     width: calc(90vw + 1px) !important;
     height: calc(70vh + 1px) !important;
   }
  
  .media-container {
     width: 90vw!important;
     height: 70vh!important;
   }
  }